:root {
  //1rem= 10px
  --spacing-00: 0.2rem;
  --spacing-01: 0.4rem;
  --spacing-02: 0.8rem;
  --spacing-03: 1.2rem;
  --spacing-04: 1.6rem; //default spacing
  --spacing-05: 2.0rem;
  --spacing-06: 2.4rem;
  --spacing-07: 2.8rem;
  --spacing-08: 3.2rem;
  --spacing-09: 3.6rem;
  --spacing-10: 4rem;
  --spacing-11: 4.4rem;
  --spacing-12: 4.8rem;
  --spacing-13: 5.2rem;

  --radius-01: 0.4rem;
  --radius-02: 0.8rem;
  --radius-03: 1.2rem;
  --radius-04: 1.6rem;
}
